.list-group-item {
  border: 0 !important;
  margin: 0px;
  padding: 10px 0px;
}

.my-messages-header {
  color: red;
  font-size: 40px;
}

.card {
  border-width: 5px;
  border-style: solid;
  border-color: white;
  overflow: hidden;
  max-width: 140px;
} 

.card-text {
  margin-bottom: 70px;
}

.card-img-top {
  max-width: 400px;
  max-height: 400px;
  object-fit: scale-down;
}

.bottomGameCard {
  position: absolute;
  bottom: 0;
}