body {
    background-color: #2E3047;
    width: 100%;
    height: 100%;
}

.mainBody {
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: black;
}

.title {
    background-repeat: repeat;
    overflow-x: hidden;
    min-width: 100%;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5eb8c942-795b-4042-9aa5-e73936cc6798/d8un0f2-0bbc2229-4839-4936-86cf-b8652493c960.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNWViOGM5NDItNzk1Yi00MDQyLTlhYTUtZTczOTM2Y2M2Nzk4XC9kOHVuMGYyLTBiYmMyMjI5LTQ4MzktNDkzNi04NmNmLWI4NjUyNDkzYzk2MC5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.oO32Ua33HbQif5G3fxbdkSdTOYSGAyPfrS_Aat8RqSA');
    background-size: cover;
    margin: 0;
    height: 200px;
    align-items: center;
    white-space: nowrap;
}

#titleText {
    margin-top: 7px;
    color: white;
    border-style: solid;
    border-color: lightgray;
    background-color: dimgray;
}

.sidebar_div {
    position: -webkit-sticky;
    position: sticky;  
    float: left;
    top: 2rem;
    margin-left: 20px;
    width: 250px;
    margin-top: 10px;
}

#sidebar {
    align-items:flex-end;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;
    background-color: lightgray;
    outline-style: solid; 
    outline-color: #637085;
    outline-width: 5px;
}

#filterTitle {
    background-color: #637085;
    height: 30px;
}

.tab_applied_filters {
    overflow-y: scroll;
}

#gameCards {
    margin-left: 300px;
    width: auto;
}

.card {
    border-width: 5px;
    border-style: solid;
    border-color: #637085;
    overflow: hidden;
} 

.card-img {
    max-width: 400px;
    max-height: 400px;
    object-fit: scale-down;
}

.cardImageDiv {
    border-right-color: #637085;
    border-right-style: solid;
}

.card-body {
    box-sizing: border-box;
}

.fa-star {
    cursor: pointer;
    color: black;
}

.ratingLine {
    position: absolute;
    bottom: 0;
}

.wishlistButtons {
    background-color: lightgray;
}

.whiteText {
    color: white;
}

.smaller_font{
    font-size: 80%;
}


input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

a {
    color: black;
    
}

a:hover {
    color: #637085;
}

/* Style the tab */
.tab {
    overflow: scroll;
}

/* Style the buttons inside the tab */
.tablinks {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 14px;
    transition: 0.3s;
    font-size: 12px;
}

/* Change background color of buttons on hover */
.tablinks:hover {
    background-color: #DDD;
}

/* Create an active/current tablink class */
.tablinks.active {
    background-color: lightgray;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 6px;
    border: 1px solid lightgray;
    border-top: none;
}

.button_tabs {
    border-bottom: solid #637085;
    border-bottom-width: 1px;
    background-color: #b2b2b2;
}

.filter_buttons {
    padding: 3px 6px;
    background-color: #f7f8fa;
    border-color: #dde3e8;
    font-size: 15px;
}
    
button:focus {
    outline:0;
}

.filter_buttons:hover {
    background-color: darkgray;
}

.rating_select {
    display: none;
    border-top: none;
}

.filter_button_active {
    background-color: darkgray;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
  }
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }

.dropdown {
    position: relative;
    display: inline-block;
}
  
.sort-choice {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 80px;
    z-index: 1;
}
  
.sort-choice a {
    color: black;
    font-size: 15px;
    display: block;
}
  
.sort-choice a:hover {
    background-color: #ddd;
    cursor: pointer;
    
}

.dropdown:hover .sort-choice {
    display: block;
}

.dropbtn {
    width: 80px;
}

.sorting_info_div {
    text-align: center;
    font: caption;
    font-size: 15px;
    background-color: lightgray;
    outline: solid #637085;
}   

.empty_div {
    margin-top: 50px;
    margin-right: 20px;
    text-align: center;
    outline: solid #637085;
    object-fit: cover;
    width: 1100px;
    height: 600px;
    background-size: 1100px 600px;

}

.empty-message-div {
    background: black;
}

.empty-message-text {
    font-size: 50px;
    color: white;
}