.card {
    border-width: 5px;
    border-style: solid;
    border-color: black;
    overflow: scroll;
} 

.card-img-top {
    max-width: 400px;
    max-height: 400px;
    object-fit: scale-down;
}

.card-body {
    box-sizing: border-box;
    height: 100%;
}

.ratingLine {
    position: absolute;
    bottom: 0;
}

.match_accuracy_text {
    font-size: smaller;
}